# MySQL Configuration
MYSQL_ROOT_PASSWORD=your_root_password_here
MYSQL_DATABASE=ecommerce
MYSQL_USER=your_username_here
MYSQL_PASSWORD=your_password_here

# Timezone
TZ=Asia/Seoul

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
